.Header{
    text-align: center;

}
.Header nav{
    background-color: black;
    line-height: 40px;
    font-size: 25px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 40px;
    padding: 20px;
}
nav a:hover{
    color: tomato;
    
}